@page
@model IndexModel
@{
    ViewData["Title"] = Model.Service + ": Modify your emails with AI";
}
<div class="text-center">
    <h3 class="display-6">@ViewData["Title"]</h3>
    <form method="post">
        <input type="text" name="prompt" size="80" required />
        <input type="submit" value="Submit" />
    </form>
    <div style="text-align: left">
        <h5>Example prompts:</h5>
        @* <form method="get" asp-page-handler="Search">
        <input type="text" name="searchTerm" placeholder="Search chat history..." />
        <input type="submit" value="Search" />
        </form> *@

        @* <form method="get" asp-page-handler="Search">
            <div class="form-group">
                <label for="searchTerm">Search Chat History:</label>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm"
                    placeholder="Enter search term">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form> *@
        <a class="nav-link" asp-page="/History">Chat History</a>

    </div>
    @if (Model.Reply != null)
    {
        <p class="alert alert-success">@Model.Reply</p>
    }
</div>
<div class="chat-history">
</div>
